<div id="sidebar">
      <ul>
       <li>
        <div id="search">
			<%= search_form_for @search do |f|%>
			<%= f.search_field :title_or_body_cont, :class => 'search_text' %>
			<%= f.submit 'GO', :class => 'btw' %>
			<% end %>
        </div>

		<li>
			<% if user_signed_in? %>
			<li>
				<h2><%= current_user.email %></h2>
				<br><br><br>
				<ul>
				<li><%= link_to 'Edit profile', edit_user_registration_path%> |
				<%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
				</ul>
				<% else %>
				<ul>
				<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
				<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
				</ul>
				<% end %>
			     </li>

        <li>
        <h2>Categories</h2>
        <ul>
			<% all_categories.each do |cat| %>
				<li><%= link_to cat.name, category_path(:id => cat.id) %></li>
			<% end %>
        </ul>
       </li>
       <li>
        <h2>Recent Scenarios</h2>
        <ul>
			<% all_posts.order(created_at: :desc).limit(5).each do |post| %>
				<li><%= link_to post.title, post_path(:id => post.id) %></li>
			<% end %>
        </ul>
       </li>

      </ul>
     </div>



     <!-- end #sidebar -->