<div class="post">
<h1><%= @post.title %></h1>

<p><%= @post.body %></p>
<p>Category: <%= link_to @post.category.name, category_path(:id => @post.category.id) %></p>

<small>Created: <%= @post.created_at.strftime("%d. %b %Y" ) %> | <%= link_to "Back", posts_path %></small>
</div>
